<section>
   
   
   

<label class="mt-5" for=""></label>
                <div class="mt-5">
                    <h2 class="text-center mt-5">College Details</h2>
                </div>


   <div class="col-md-6 col-lg-10 mx-auto">
    
   
   
   <div class="form-group row mt-4">
                            <label for="" class="ml-3 col-form-label">College</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="" name="name" value="{{allitems.college}}">
                            </div>
                            <label for="colFormLabel" class="ml-3 col-form-label">Type</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="" name="type"
                                value="{{allitems.type}}">
                        </div>
                        </div>
   
   
        
        <table class="table mt-5" id="datatable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <th scope="col">Intake</th>
      <th scope="col">Fees</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr>
      <td scope="row"></td>
      <td>{{this.course}}</td>
      <td>{{this.intake}}</td>
      <td>{{this.fee}}</td>
      
      
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="{{allitems.link}}" class="btn btn-success">Google Map</a>
<a href="{{allitems.web}}" class="btn btn-success">Website</a>
</div> 



                        


</section>



<script>

  $(document).ready( function () {
    $('#datatable').DataTable();
  } );

</script>

<style>
  body {
    counter-reset: Count-Value;
  }

  table {
    border-collapse: separate;
  }

  tr td:first-child:before {
    counter-increment: Count-Value;
    content: counter(Count-Value);
  }
</style>